body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .brand-color-title {
    color: #8540F5;
  }

  .brand-color {
    color: #3D0A91;
  }
  
  .brand-color-menu1 {
    color: #5227CC;
  }

  .brand-color-menu2 {
    color: #6C757D;
  }



  .btn-brand {
    background-color: #7749F8;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .btn-brand-outline {
    background-color: #f1eaff;
    color: #7749F8;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .service-card {
    height: 100%;
    text-align: left;
  }
  
  nav a {
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .btn-outline-custom {
    color: #7749F8;
    border: 1px solid #7749F8;
    background-color: transparent;
  }
  
  .btn-outline-custom:hover {
    background-color: #7749F8;
    color: white;
  }